extends layout

block content
    nav.navbar.navbar-light.bg-faded.px-5.mb-3
        h1.title.navbar-brand.mb-0 Smarty files:
    .container.mb-3
        .row
            .col-sm-3
                input#fileInput.file_input(type='file', name='file')
                label(for='fileInput') Choose a file
            .col-sm-7
                .file_info
                    #filename.file_name
                    #filesize.file_size
            .col-sm-2
                #upload.btn.btn-success
                    | Upload
    .container.files.mb-5
        each file in files
            .row.py-2
                .col-sm-11
                    a(href='http://localhost:3000/storage/#{file}' download)
                        | #{file}
                .col-sm-1
                    .delete_button(id='#{file}')
                        .delete_confirm
                            .confirm_header Are you sure?
                            .confirm_btns
                                .btn.btn-light(id='delete------#{file}')
                                    .fa.fa-trash
                                .btn.btn-light(id='close------#{file}')
                                    .fa.fa-times
                        .fa.fa-trash.fa-lg
